---
title: Imaginary Expanse
---
<!doctype html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="/static/css/site.css">
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <span></span>
      <a href="/tales/">Tales</a>
      <a href="/data/">Data</a>
    </nav>
  </header>
  <main>
    <!-- Breadcrumbs -->
    <%_ page.url.split('/').filter((e) => e != '').forEach((e, i, arr) => { _%>
      <%_ if(i != arr.length-1) { _%>
        <a href="/<%= arr.slice(0, i+1).join('/') %>/"><%= e.charAt(0).toUpperCase() + e.substring(1) %></a> /
      <%_ } else { _%>
        <%= e.charAt(0).toUpperCase() + e.substring(1) %>
      <%_ } _%>
    <%_ }); _%>
    <%- content %>
  </main>
  <footer></footer>
</body>
</html>